<% content_for :header_actions do %>
<a href='/lists'>All Lists</a>
<% end %>

<section>
  <header>
    <% if @edit_list %>
    <%= list_edit_template %>
    <% else %>
    <h2><%= @list[:name] %></h2>
    <% end %>
    <div class="actions"><a href="/list/<%= @list_id %>/edit">Edit List</a></div>
  </header>
</section>

<ul id='todos'>
  <% @list[:todos].each do |todo| %>
  <li>
    <a>
      <h2><%= todo[:title] %></h2>
    </a>
  </li>
  <% end %>
  <% if @add_todo %>
  <li>
    Add item...
  </li>
  <% end %>
</ul>

<a href='/list/<%= params[:list_idx] %>/add'>Add Todo</a>