<% content_for :header_actions do %>
<a class="list" href='/lists'>All Lists</a>
<% end %>

<section id="todos" class="<%= list_container_css_class(@list) %>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <% if list_completable?(@list) %>
      <li>
        <form action="/lists/<%= @list_id %>/complete" method="post">
          <button type="submit" class="check">Complete All</button>
        </form>
      </li>
      <% end %>
      <li><a class="edit" href="/lists/<%= @list_id %>/edit">Edit List</a></li>
    </ul>
  </header>

  <ul>
    <% todos_sorted_enum(@list[:todos]) do |todo, todo_id| %>
    <li <%= todo[:done] ? 'class="complete"' : '' %>>
      <form action="/lists/<%= @list_id %>/todos/<%= todo_id %>/check" method="post" class="check">
        <input type="hidden" name="done" value="<%= !todo[:done] %>">
        <button type="submit">Done</button>
      </form>
      <h3><%= todo[:name] %></h3>
      <form action="/lists/<%= @list_id %>/todos/<%= todo_id %>/delete" method="post" class="delete">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @list_id %>" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>